body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: #333;
    color: #fff;
    display: flex;
    justify-content: center;
}

.container {
    width: 1000px;
    padding: 1rem;
    box-sizing: border-box;
}

.btns {
    display: flex;
    gap: 10px;
}

.btn {
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    background: orange;
    color: #fff;
    cursor: pointer;
}

.text {
    margin-top: 20px;
}